/** @format */
@use "../../styles/variables.scss" as *;
// ****************
@use "../../styles/functions" as fn;
@use "../../styles/mixins" as mixin;

.footer {
  background-color: var(--sidebar-primary-background);
  color: var(--primary-foreground);
  padding: fn.rem(60) fn.rem(40) fn.rem(20);
  display: flex;
  flex-direction: column;
  min-height: fn.rem(350);
  font-family: var(--font-sans, sans-serif);

  @include mixin.sm() {
    padding: fn.rem(20);
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: fn.rem(15);
  margin-bottom: fn.rem(60);
}

.logoIcon {
  width: fn.rem(45);
  height: fn.rem(45);
  color: inherit;
}

.logoText {
  font-size: fn.rem(24);
  font-weight: bold;
  letter-spacing: fn.rem(2);
}

.content {
  display: flex;
  justify-content: flex-start;
  gap: fn.rem(120);
  margin-bottom: fn.rem(60);

  /* Mobile (Tablet & Phone) */
  @include mixin.sm() {
    flex-wrap: wrap;
    gap: fn.rem(35);
    margin-bottom: fn.rem(30);
  }
}

.column {
  display: flex;
  flex-direction: column;

  @include mixin.sm() {
    flex-wrap: wrap;
    width: 100%;
  }
}

.columnTitle {
  font-size: fn.rem(16);
  font-weight: bold;
  margin-bottom: fn.rem(24);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: fn.rem(16);
    font-size: fn.rem(14);
    color: var(--primary-foreground);
  }
}

.copyright {
  margin-top: auto;
  font-size: fn.rem(12);
  color: var(--subtle-foreground);
}
